In [1]:
!date
!pwd

Чт мар  1 14:52:13 MSK 2018
/home/sphere/Papers/2017_Model/Luna

In [3]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
import matplotlib.gridspec as gridspec
import numpy as np

In [25]:
from datetime import timedelta

In [147]:
# считать данные, заменив None на NaN
na_values = ['None', 'N/A']
data = pd.read_csv('./2018_02-03_Irkutsk.csv', na_values=na_values, index_col=False, sep='\t')

In [148]:
data.head(6)

        Day Sunrise Sunset Moonrise Moonset
0  1/2/2018   08:43  17:49    18:51   09:07
1  2/2/2018   08:41  17:50    20:12   09:41
2  3/2/2018   08:40  17:52    21:30   10:10
3  4/2/2018   08:38  17:54    22:46   10:35
4  5/2/2018   08:36  17:56    23:59   10:57
5  6/2/2018   08:35  17:58      NaN   11:20

In [149]:
data['SunriseTime'] = pd.to_datetime(data.Day + ' ' + data.Sunrise, dayfirst = True) - timedelta(minutes=90)
data['SunsetTime']  = pd.to_datetime(data.Day + ' ' + data.Sunset,  dayfirst = True)  + timedelta(minutes=90)

In [150]:
data['MoonriseTime'] = pd.to_datetime(data.Day + ' ' + data.Moonrise, dayfirst = True)
data['MoonsetTime']  = pd.to_datetime(data.Day + ' ' + data.Moonset,  dayfirst = True)

In [151]:
a = pd.to_datetime('2018-06-02 07:05:00')
b = pd.to_datetime('NaT')
print(max(a,b))

2018-06-02 07:05:00

In [152]:
a = pd.to_datetime('16/2/2018')
print(a)

2018-02-16 00:00:00

In [153]:
def startdate(x):
    return max(x.MoonsetTime,x.SunsetTime)

data['Start'] = data.apply(startdate, axis = 1)

In [154]:
def stopdate(x):
    return min(x.SunriseTime,x.MoonriseTime)

data['Stop'] = data.apply(stopdate, axis = 1)

In [155]:
params = ['Day','SunriseTime','MoonriseTime','SunsetTime','MoonsetTime','Start','Stop']
data = data[params]
data.head(20)

,Day,SunriseTime,MoonriseTime,SunsetTime,MoonsetTime,Start,Stop
0,1/2/2018,2018-02-01 07:13:00,2018-02-01 18:51:00,2018-02-01 19:19:00,2018-02-01 09:07:00,2018-02-01 19:19:00,2018-02-01 07:13:00
1,2/2/2018,2018-02-02 07:11:00,2018-02-02 20:12:00,2018-02-02 19:20:00,2018-02-02 09:41:00,2018-02-02 19:20:00,2018-02-02 07:11:00
2,3/2/2018,2018-02-03 07:10:00,2018-02-03 21:30:00,2018-02-03 19:22:00,2018-02-03 10:10:00,2018-02-03 19:22:00,2018-02-03 07:10:00
3,4/2/2018,2018-02-04 07:08:00,2018-02-04 22:46:00,2018-02-04 19:24:00,2018-02-04 10:35:00,2018-02-04 19:24:00,2018-02-04 07:08:00
4,5/2/2018,2018-02-05 07:06:00,2018-02-05 23:59:00,2018-02-05 19:26:00,2018-02-05 10:57:00,2018-02-05 19:26:00,2018-02-05 07:06:00
5,6/2/2018,2018-02-06 07:05:00,NaT,2018-02-06 19:28:00,2018-02-06 11:20:00,2018-02-06 19:28:00,2018-02-06 07:05:00
6,7/2/2018,2018-02-07 07:03:00,2018-02-07 01:09:00,2018-02-07 19:30:00,2018-02-07 11:44:00,2018-02-07 19:30:00,2018-02-07 01:09:00
7,8/2/2018,2018-02-08 07:01:00,2018-02-08 02:17:00,2018-02-08 19:32:00,2018-02-08 12:10:00,2018-02-08 19:32:00,2018-02-08 02:17:00
8,9/2/2018,2018-02-09 06:59:00,2018-02-09 03:20:00,2018-02-09 19:34:00,2018-02-09 12:40:00,2018-02-09 19:34:00,2018-02-09 03:20:00
9,10/2/2018,2018-02-10 06:57:00,2018-02-10 04:22:00,2018-02-10 19:36:00,2018-02-10 13:14:00,2018-02-10 19:36:00,2018-02-10 04:22:00
10,11/2/2018,2018-02-11 06:56:00,2018-02-11 05:19:00,2018-02-11 19:37:00,2018-02-11 13:53:00,2018-02-11 19:37:00,2018-02-11 05:19:00
11,12/2/2018,2018-02-12 06:54:00,2018-02-12 06:10:00,2018-02-12 19:39:00,2018-02-12 14:40:00,2018-02-12 19:39:00,2018-02-12 06:10:00
12,13/2/2018,2018-02-13 06:52:00,2018-02-13 06:55:00,2018-02-13 19:41:00,2018-02-13 15:33:00,2018-02-13 19:41:00,2018-02-13 06:52:00
13,14/2/2018,2018-02-14 06:50:00,2018-02-14 07:34:00,2018-02-14 19:43:00,2018-02-14 16:31:00,2018-02-14 19:43:00,2018-02-14 06:50:00
14,15/2/2018,2018-02-15 06:48:00,2018-02-15 08:07:00,2018-02-15 19:45:00,2018-02-15 17:35:00,2018-02-15 19:45:00,2018-02-15 06:48:00
15,16/2/2018,2018-02-16 06:46:00,2018-02-16 08:35:00,2018-02-16 19:47:00,2018-02-16 18:41:00,2018-02-16 19:47:00,2018-02-16 06:46:00
16,17/2/2018,2018-02-17 06:44:00,2018-02-17 09:00:00,2018-02-17 19:49:00,2018-02-17 19:49:00,2018-02-17 19:49:00,2018-02-17 06:44:00
17,18/2/2018,2018-02-18 06:42:00,2018-02-18 09:24:00,2018-02-18 19:51:00,2018-02-18 20:59:00,2018-02-18 20:59:00,2018-02-18 06:42:00
18,19/2/2018,2018-02-19 06:40:00,2018-02-19 09:47:00,2018-02-19 19:52:00,2018-02-19 22:09:00,2018-02-19 22:09:00,2018-02-19 06:40:00
19,20/2/2018,2018-02-20 06:38:00,2018-02-20 10:09:00,2018-02-20 19:54:00,2018-02-20 23:22:00,2018-02-20 23:22:00,2018-02-20 06:38:00

In [156]:
data['delta'] = data.Stop-data.Start

In [161]:
data.head(64)

,Day,SunriseTime,MoonriseTime,SunsetTime,MoonsetTime,Start,Stop,delta
0,1/2/2018,2018-02-01 07:13:00,2018-02-01 18:51:00,2018-02-01 19:19:00,2018-02-01 09:07:00,2018-02-01 19:19:00,2018-02-01 07:13:00,-1 days +11:54:00
1,2/2/2018,2018-02-02 07:11:00,2018-02-02 20:12:00,2018-02-02 19:20:00,2018-02-02 09:41:00,2018-02-02 19:20:00,2018-02-02 07:11:00,-1 days +11:51:00
2,3/2/2018,2018-02-03 07:10:00,2018-02-03 21:30:00,2018-02-03 19:22:00,2018-02-03 10:10:00,2018-02-03 19:22:00,2018-02-03 07:10:00,-1 days +11:48:00
3,4/2/2018,2018-02-04 07:08:00,2018-02-04 22:46:00,2018-02-04 19:24:00,2018-02-04 10:35:00,2018-02-04 19:24:00,2018-02-04 07:08:00,-1 days +11:44:00
4,5/2/2018,2018-02-05 07:06:00,2018-02-05 23:59:00,2018-02-05 19:26:00,2018-02-05 10:57:00,2018-02-05 19:26:00,2018-02-05 07:06:00,-1 days +11:40:00
5,6/2/2018,2018-02-06 07:05:00,NaT,2018-02-06 19:28:00,2018-02-06 11:20:00,2018-02-06 19:28:00,2018-02-06 07:05:00,-1 days +11:37:00
6,7/2/2018,2018-02-07 07:03:00,2018-02-07 01:09:00,2018-02-07 19:30:00,2018-02-07 11:44:00,2018-02-07 19:30:00,2018-02-07 01:09:00,-1 days +05:39:00
7,8/2/2018,2018-02-08 07:01:00,2018-02-08 02:17:00,2018-02-08 19:32:00,2018-02-08 12:10:00,2018-02-08 19:32:00,2018-02-08 02:17:00,-1 days +06:45:00
8,9/2/2018,2018-02-09 06:59:00,2018-02-09 03:20:00,2018-02-09 19:34:00,2018-02-09 12:40:00,2018-02-09 19:34:00,2018-02-09 03:20:00,-1 days +07:46:00
9,10/2/2018,2018-02-10 06:57:00,2018-02-10 04:22:00,2018-02-10 19:36:00,2018-02-10 13:14:00,2018-02-10 19:36:00,2018-02-10 04:22:00,-1 days +08:46:00
10,11/2/2018,2018-02-11 06:56:00,2018-02-11 05:19:00,2018-02-11 19:37:00,2018-02-11 13:53:00,2018-02-11 19:37:00,2018-02-11 05:19:00,-1 days +09:42:00
11,12/2/2018,2018-02-12 06:54:00,2018-02-12 06:10:00,2018-02-12 19:39:00,2018-02-12 14:40:00,2018-02-12 19:39:00,2018-02-12 06:10:00,-1 days +10:31:00
12,13/2/2018,2018-02-13 06:52:00,2018-02-13 06:55:00,2018-02-13 19:41:00,2018-02-13 15:33:00,2018-02-13 19:41:00,2018-02-13 06:52:00,-1 days +11:11:00
13,14/2/2018,2018-02-14 06:50:00,2018-02-14 07:34:00,2018-02-14 19:43:00,2018-02-14 16:31:00,2018-02-14 19:43:00,2018-02-14 06:50:00,-1 days +11:07:00
14,15/2/2018,2018-02-15 06:48:00,2018-02-15 08:07:00,2018-02-15 19:45:00,2018-02-15 17:35:00,2018-02-15 19:45:00,2018-02-15 06:48:00,-1 days +11:03:00
15,16/2/2018,2018-02-16 06:46:00,2018-02-16 08:35:00,2018-02-16 19:47:00,2018-02-16 18:41:00,2018-02-16 19:47:00,2018-02-16 06:46:00,-1 days +10:59:00
16,17/2/2018,2018-02-17 06:44:00,2018-02-17 09:00:00,2018-02-17 19:49:00,2018-02-17 19:49:00,2018-02-17 19:49:00,2018-02-17 06:44:00,-1 days +10:55:00
17,18/2/2018,2018-02-18 06:42:00,2018-02-18 09:24:00,2018-02-18 19:51:00,2018-02-18 20:59:00,2018-02-18 20:59:00,2018-02-18 06:42:00,-1 days +09:43:00
18,19/2/2018,2018-02-19 06:40:00,2018-02-19 09:47:00,2018-02-19 19:52:00,2018-02-19 22:09:00,2018-02-19 22:09:00,2018-02-19 06:40:00,-1 days +08:31:00
19,20/2/2018,2018-02-20 06:38:00,2018-02-20 10:09:00,2018-02-20 19:54:00,2018-02-20 23:22:00,2018-02-20 23:22:00,2018-02-20 06:38:00,-1 days +07:16:00
20,21/2/2018,2018-02-21 06:36:00,2018-02-21 10:32:00,2018-02-21 19:56:00,NaT,NaT,2018-02-21 06:36:00,NaT
21,22/2/2018,2018-02-22 06:34:00,2018-02-22 10:58:00,2018-02-22 19:58:00,2018-02-22 00:35:00,2018-02-22 19:58:00,2018-02-22 06:34:00,-1 days +10:36:00
22,23/2/2018,2018-02-23 06:31:00,2018-02-23 11:30:00,2018-02-23 20:00:00,2018-02-23 01:50:00,2018-02-23 20:00:00,2018-02-23 06:31:00,-1 days +10:31:00
23,24/2/2018,2018-02-24 06:29:00,2018-02-24 12:09:00,2018-02-24 20:02:00,2018-02-24 03:03:00,2018-02-24 20:02:00,2018-02-24 06:29:00,-1 days +10:27:00
24,25/2/2018,2018-02-25 06:27:00,2018-02-25 12:58:00,2018-02-25 20:04:00,2018-02-25 04:14:00,2018-02-25 20:04:00,2018-02-25 06:27:00,-1 days +10:23:00
25,26/2/2018,2018-02-26 06:25:00,2018-02-26 13:56:00,2018-02-26 20:05:00,2018-02-26 05:18:00,2018-02-26 20:05:00,2018-02-26 06:25:00,-1 days +10:20:00
26,27/2/2018,2018-02-27 06:23:00,2018-02-27 15:06:00,2018-02-27 20:07:00,2018-02-27 06:13:00,2018-02-27 20:07:00,2018-02-27 06:23:00,-1 days +10:16:00
27,28/2/2018,2018-02-28 06:21:00,2018-02-28 16:22:00,2018-02-28 20:09:00,2018-02-28 06:59:00,2018-02-28 20:09:00,2018-02-28 06:21:00,-1 days +10:12:00
28,1/3/2018,2018-03-01 06:18:00,2018-03-01 17:42:00,2018-03-01 20:11:00,2018-03-01 07:36:00,2018-03-01 20:11:00,2018-03-01 06:18:00,-1 days +10:07:00
29,2/3/2018,2018-03-02 06:16:00,2018-03-02 19:01:00,2018-03-02 20:13:00,2018-03-02 08:07:00,2018-03-02 20:13:00,2018-03-02 06:16:00,-1 days +10:03:00
...,...,...,...,...,...,...,...,...
31,4/3/2018,2018-03-04 06:12:00,2018-03-04 21:35:00,2018-03-04 20:16:00,2018-03-04 08:57:00,2018-03-04 20:16:00,2018-03-04 06:12:00,-1 days +09:56:00
32,5/3/2018,2018-03-05 06:09:00,2018-03-05 22:49:00,2018-03-05 20:18:00,2018-03-05 09:21:00,2018-03-05 20:18:00,2018-03-05 06:09:00,-1 days +09:51:00
33,6/3/2018,2018-03-06 06:07:00,2018-03-06 23:59:00,2018-03-06 20:20:00,2018-03-06 09:45:00,2018-03-06 20:20:00,2018-03-06 06:07:00,-1 days +09:47:00
34,7/3/2018,2018-03-07 06:05:00,NaT,2018-03-07 20:22:00,2018-03-07 10:11:00,2018-03-07 20:22:00,2018-03-07 06:05:00,-1 days +09:43:00
35,8/3/2018,2018-03-08 06:03:00,2018-03-08 01:06:00,2018-03-08 20:24:00,2018-03-08 10:38:00,2018-03-08 20:24:00,2018-03-08 01:06:00,-1 days +04:42:00
36,9/3/2018,2018-03-09 06:00:00,2018-03-09 02:11:00,2018-03-09 20:25:00,2018-03-09 11:10:00,2018-03-09 20:25:00,2018-03-09 02:11:00,-1 days +05:46:00
37,10/3/2018,2018-03-10 05:58:00,2018-03-10 03:10:00,2018-03-10 20:27:00,2018-03-10 11:48:00,2018-03-10 20:27:00,2018-03-10 03:10:00,-1 days +06:43:00
38,11/3/2018,2018-03-11 05:56:00,2018-03-11 04:04:00,2018-03-11 20:29:00,2018-03-11 12:33:00,2018-03-11 20:29:00,2018-03-11 04:04:00,-1 days +07:35:00
39,12/3/2018,2018-03-12 05:53:00,2018-03-12 04:52:00,2018-03-12 20:31:00,2018-03-12 13:23:00,2018-03-12 20:31:00,2018-03-12 04:52:00,-1 days +08:21:00
40,13/3/2018,2018-03-13 05:51:00,2018-03-13 05:32:00,2018-03-13 20:32:00,2018-03-13 14:20:00,2018-03-13 20:32:00,2018-03-13 05:32:00,-1 days +09:00:00
41,14/3/2018,2018-03-14 05:49:00,2018-03-14 06:07:00,2018-03-14 20:34:00,2018-03-14 15:23:00,2018-03-14 20:34:00,2018-03-14 05:49:00,-1 days +09:15:00
42,15/3/2018,2018-03-15 05:46:00,2018-03-15 06:37:00,2018-03-15 20:36:00,2018-03-15 16:27:00,2018-03-15 20:36:00,2018-03-15 05:46:00,-1 days +09:10:00
43,16/3/2018,2018-03-16 05:44:00,2018-03-16 07:04:00,2018-03-16 20:38:00,2018-03-16 17:36:00,2018-03-16 20:38:00,2018-03-16 05:44:00,-1 days +09:06:00
44,17/3/2018,2018-03-17 05:42:00,2018-03-17 07:28:00,2018-03-17 20:40:00,2018-03-17 18:46:00,2018-03-17 20:40:00,2018-03-17 05:42:00,-1 days +09:02:00
45,18/3/2018,2018-03-18 05:39:00,2018-03-18 07:51:00,2018-03-18 20:41:00,2018-03-18 19:58:00,2018-03-18 20:41:00,2018-03-18 05:39:00,-1 days +08:58:00
46,19/3/2018,2018-03-19 05:37:00,2018-03-19 08:12:00,2018-03-19 20:43:00,2018-03-19 21:11:00,2018-03-19 21:11:00,2018-03-19 05:37:00,-1 days +08:26:00
47,20/3/2018,2018-03-20 05:35:00,2018-03-20 08:36:00,2018-03-20 20:45:00,2018-03-20 22:25:00,2018-03-20 22:25:00,2018-03-20 05:35:00,-1 days +07:10:00
48,21/3/2018,2018-03-21 05:32:00,2018-03-21 09:02:00,2018-03-21 20:47:00,2018-03-21 23:41:00,2018-03-21 23:41:00,2018-03-21 05:32:00,-1 days +05:51:00
49,22/3/2018,2018-03-22 05:30:00,2018-03-22 09:32:00,2018-03-22 20:48:00,NaT,NaT,2018-03-22 05:30:00,NaT
50,23/3/2018,2018-03-23 05:28:00,2018-03-23 10:09:00,2018-03-23 20:50:00,2018-03-23 00:55:00,2018-03-23 20:50:00,2018-03-23 05:28:00,-1 days +08:38:00
51,24/3/2018,2018-03-24 05:25:00,2018-03-24 10:52:00,2018-03-24 20:52:00,2018-03-24 02:07:00,2018-03-24 20:52:00,2018-03-24 05:25:00,-1 days +08:33:00
52,25/3/2018,2018-03-25 05:23:00,2018-03-25 11:47:00,2018-03-25 20:53:00,2018-03-25 03:11:00,2018-03-25 20:53:00,2018-03-25 05:23:00,-1 days +08:30:00
53,26/3/2018,2018-03-26 05:21:00,2018-03-26 12:52:00,2018-03-26 20:55:00,2018-03-26 04:09:00,2018-03-26 20:55:00,2018-03-26 05:21:00,-1 days +08:26:00
54,27/3/2018,2018-03-27 05:18:00,2018-03-27 14:02:00,2018-03-27 20:57:00,2018-03-27 04:56:00,2018-03-27 20:57:00,2018-03-27 05:18:00,-1 days +08:21:00
55,28/3/2018,2018-03-28 05:16:00,2018-03-28 15:20:00,2018-03-28 20:59:00,2018-03-28 05:34:00,2018-03-28 20:59:00,2018-03-28 05:16:00,-1 days +08:17:00
56,29/3/2018,2018-03-29 05:14:00,2018-03-29 16:37:00,2018-03-29 21:00:00,2018-03-29 06:06:00,2018-03-29 21:00:00,2018-03-29 05:14:00,-1 days +08:14:00
57,30/3/2018,2018-03-30 05:11:00,2018-03-30 17:56:00,2018-03-30 21:02:00,2018-03-30 06:33:00,2018-03-30 21:02:00,2018-03-30 05:11:00,-1 days +08:09:00
58,31/3/2018,2018-03-31 05:09:00,2018-03-31 19:11:00,2018-03-31 21:04:00,2018-03-31 06:59:00,2018-03-31 21:04:00,2018-03-31 05:09:00,-1 days +08:05:00
59,1/4/2018,2018-04-01 05:07:00,2018-04-01 20:27:00,2018-04-01 21:06:00,2018-04-01 07:22:00,2018-04-01 21:06:00,2018-04-01 05:07:00,-1 days +08:01:00
60,2/4/2018,2018-04-02 05:04:00,2018-04-02 21:39:00,2018-04-02 21:07:00,2018-04-02 07:45:00,2018-04-02 21:07:00,2018-04-02 05:04:00,-1 days +07:57:00

In [162]:
for i in range(data.shape[0]-1):
    #data['Dt'][i] = 
    SR = data.SunriseTime[i]
    SS = data.SunsetTime[i]
    MR = data.MoonriseTime[i]
    MS = data.MoonsetTime[i]
    
    if MR == 'NaT':
        stop = MR
        continue
    if MS == 'NaT':
        start = MS
        continue
            
    stop  = SR    
    start = SS
    if (MS > SS) or (MS < SR):
        start = MS
    if (MR < SR) or (MR > SS):
        stop = MR
    
    print(start,'-', stop,'=', stop - start)
    #print(data.Start[i],'-', data.Stop[i+1],'=', data.Stop[i+1] - data.Start[i] )

2018-02-01 19:19:00 - 2018-02-01 07:13:00 = -1 days +11:54:00
2018-02-02 19:20:00 - 2018-02-02 20:12:00 = 0 days 00:52:00
2018-02-03 19:22:00 - 2018-02-03 21:30:00 = 0 days 02:08:00
2018-02-04 19:24:00 - 2018-02-04 22:46:00 = 0 days 03:22:00
2018-02-05 19:26:00 - 2018-02-05 23:59:00 = 0 days 04:33:00
2018-02-06 19:28:00 - 2018-02-06 07:05:00 = -1 days +11:37:00
2018-02-07 19:30:00 - 2018-02-07 01:09:00 = -1 days +05:39:00
2018-02-08 19:32:00 - 2018-02-08 02:17:00 = -1 days +06:45:00
2018-02-09 19:34:00 - 2018-02-09 03:20:00 = -1 days +07:46:00
2018-02-10 19:36:00 - 2018-02-10 04:22:00 = -1 days +08:46:00
2018-02-11 19:37:00 - 2018-02-11 05:19:00 = -1 days +09:42:00
2018-02-12 19:39:00 - 2018-02-12 06:10:00 = -1 days +10:31:00
2018-02-13 19:41:00 - 2018-02-13 06:52:00 = -1 days +11:11:00
2018-02-14 19:43:00 - 2018-02-14 06:50:00 = -1 days +11:07:00
2018-02-15 19:45:00 - 2018-02-15 06:48:00 = -1 days +11:03:00
2018-02-16 19:47:00 - 2018-02-16 06:46:00 = -1 days +10:59:00
2018-02-17 19:49:00 - 2018-02-17 06:44:00 = -1 days +10:55:00
2018-02-18 20:59:00 - 2018-02-18 06:42:00 = -1 days +09:43:00
2018-02-19 22:09:00 - 2018-02-19 06:40:00 = -1 days +08:31:00
2018-02-20 23:22:00 - 2018-02-20 06:38:00 = -1 days +07:16:00
2018-02-21 19:56:00 - 2018-02-21 06:36:00 = -1 days +10:40:00
2018-02-22 00:35:00 - 2018-02-22 06:34:00 = 0 days 05:59:00
2018-02-23 01:50:00 - 2018-02-23 06:31:00 = 0 days 04:41:00
2018-02-24 03:03:00 - 2018-02-24 06:29:00 = 0 days 03:26:00
2018-02-25 04:14:00 - 2018-02-25 06:27:00 = 0 days 02:13:00
2018-02-26 05:18:00 - 2018-02-26 06:25:00 = 0 days 01:07:00
2018-02-27 06:13:00 - 2018-02-27 06:23:00 = 0 days 00:10:00
2018-02-28 20:09:00 - 2018-02-28 06:21:00 = -1 days +10:12:00
2018-03-01 20:11:00 - 2018-03-01 06:18:00 = -1 days +10:07:00
2018-03-02 20:13:00 - 2018-03-02 06:16:00 = -1 days +10:03:00
2018-03-03 20:15:00 - 2018-03-03 20:20:00 = 0 days 00:05:00
2018-03-04 20:16:00 - 2018-03-04 21:35:00 = 0 days 01:19:00
2018-03-05 20:18:00 - 2018-03-05 22:49:00 = 0 days 02:31:00
2018-03-06 20:20:00 - 2018-03-06 23:59:00 = 0 days 03:39:00
2018-03-07 20:22:00 - 2018-03-07 06:05:00 = -1 days +09:43:00
2018-03-08 20:24:00 - 2018-03-08 01:06:00 = -1 days +04:42:00
2018-03-09 20:25:00 - 2018-03-09 02:11:00 = -1 days +05:46:00
2018-03-10 20:27:00 - 2018-03-10 03:10:00 = -1 days +06:43:00
2018-03-11 20:29:00 - 2018-03-11 04:04:00 = -1 days +07:35:00
2018-03-12 20:31:00 - 2018-03-12 04:52:00 = -1 days +08:21:00
2018-03-13 20:32:00 - 2018-03-13 05:32:00 = -1 days +09:00:00
2018-03-14 20:34:00 - 2018-03-14 05:49:00 = -1 days +09:15:00
2018-03-15 20:36:00 - 2018-03-15 05:46:00 = -1 days +09:10:00
2018-03-16 20:38:00 - 2018-03-16 05:44:00 = -1 days +09:06:00
2018-03-17 20:40:00 - 2018-03-17 05:42:00 = -1 days +09:02:00
2018-03-18 20:41:00 - 2018-03-18 05:39:00 = -1 days +08:58:00
2018-03-19 21:11:00 - 2018-03-19 05:37:00 = -1 days +08:26:00
2018-03-20 22:25:00 - 2018-03-20 05:35:00 = -1 days +07:10:00
2018-03-21 23:41:00 - 2018-03-21 05:32:00 = -1 days +05:51:00
2018-03-22 20:48:00 - 2018-03-22 05:30:00 = -1 days +08:42:00
2018-03-23 00:55:00 - 2018-03-23 05:28:00 = 0 days 04:33:00
2018-03-24 02:07:00 - 2018-03-24 05:25:00 = 0 days 03:18:00
2018-03-25 03:11:00 - 2018-03-25 05:23:00 = 0 days 02:12:00
2018-03-26 04:09:00 - 2018-03-26 05:21:00 = 0 days 01:12:00
2018-03-27 04:56:00 - 2018-03-27 05:18:00 = 0 days 00:22:00
2018-03-28 20:59:00 - 2018-03-28 05:16:00 = -1 days +08:17:00
2018-03-29 21:00:00 - 2018-03-29 05:14:00 = -1 days +08:14:00
2018-03-30 21:02:00 - 2018-03-30 05:11:00 = -1 days +08:09:00
2018-03-31 21:04:00 - 2018-03-31 05:09:00 = -1 days +08:05:00
2018-04-01 21:06:00 - 2018-04-01 05:07:00 = -1 days +08:01:00

In [120]:
data.shape[0]

61