# Подсчет безлунного ночного времени 

Для ответа рецензенту статьи про моделирование.

5 марта 2018 г.

Данные для расчетов безлунного времени взяты с сайта 
http://www.abakbot.ru/online-6/29-rise-and-set-sun-moon
для населенного пункта 
Irkutsk, Irkutsk Oblast, Russia.

Сайт выдает данные:
День, Восход Солнца, Заход Солнца, Восход Луны, Заход Луны.
Время местное для указанного населенного пункта.

Координаты и высота над уровнем моря населенного пункта Иркутск незначительно отличаются от условий точки старта на Байкале. Отличие по временам - на 3-5 минут.

In [1]:
!date
!pwd

Пн мар  5 20:07:25 MSK 2018
/home/sphere/Papers/2017_Model/Luna

In [2]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
import matplotlib.gridspec as gridspec
import numpy as np

from datetime import timedelta

In [3]:
# считать данные, заменив None на NaN
na_values = ['None', 'N/A']
data = pd.read_csv('./2013_01-04_Irkutsk.csv', na_values=na_values, index_col=False, sep='\t')

In [4]:
data.head(3)

        Day Sunrise Sunset Moonrise Moonset
0  1/1/2013   10:12  18:00    22:32   11:38
1  2/1/2013   10:12  18:01    23:43   12:00
2  3/1/2013   10:11  18:02      NaN   12:21

От времени восхода и заката Солнца отступаем по 90 минут, от Луны - не отступаем.

In [5]:
data['SunriseTime'] = pd.to_datetime(data.Day + ' ' + data.Sunrise, dayfirst = True) - timedelta(minutes=90)
data['SunsetTime']  = pd.to_datetime(data.Day + ' ' + data.Sunset,  dayfirst = True) + timedelta(minutes=90)

data['MoonriseTime'] = pd.to_datetime(data.Day + ' ' + data.Moonrise, dayfirst = True)
data['MoonsetTime']  = pd.to_datetime(data.Day + ' ' + data.Moonset,  dayfirst = True)

In [6]:
params = ['Day','SunriseTime','MoonriseTime','SunsetTime','MoonsetTime']
data = data[params]
data.head(3)

,Day,SunriseTime,MoonriseTime,SunsetTime,MoonsetTime
0,1/1/2013,2013-01-01 08:42:00,2013-01-01 22:32:00,2013-01-01 19:30:00,2013-01-01 11:38:00
1,2/1/2013,2013-01-02 08:42:00,2013-01-02 23:43:00,2013-01-02 19:31:00,2013-01-02 12:00:00
2,3/1/2013,2013-01-03 08:41:00,NaT,2013-01-03 19:32:00,2013-01-03 12:21:00

In [7]:
# count stop and start times
for i in range(data.shape[0]):
    SR = data.SunriseTime[i]
    SS = data.SunsetTime[i]
    MR = data.MoonriseTime[i]
    MS = data.MoonsetTime[i]
    flag = 0
    
    stop  = SR    
    if str( MR ) == 'NaT': 
        #stop = pd.to_datetime('NaT')
        flag = 1
        #print('MR NaT')
    else:
        if (MR < SR) or (MR > SS):
            stop = MR
                
    start = SS
    if str( MS ) == 'NaT':
        start = pd.to_datetime('NaT')
        flag = 2
        #print('MS NaT')
    else:
        if (MS < SR) or (SS < MS):
                start = MS
        else: 
            if MS < MR and MR < SS:
                start = pd.to_datetime('NaT')
                flag = 33
        
    data.loc[i, 'Start'] = start
    data.loc[i, 'Stop']  = stop
   
    delta = stop - start
    #print(start,'-', stop,'=', delta, 'fl', flag)

In [8]:
# count delta times
for i in range(data.shape[0]-1):
    SR = data.SunriseTime[i]
    SS = data.SunsetTime[i]
    MR = data.MoonriseTime[i]
    MS = data.MoonsetTime[i]
    stop   = data.Stop[i]
    start  = data.Start[i]
    startnext = data.Start[i+1]
    stopnext  = data.Stop[i+1]
    MRnext    = data.MoonriseTime[i+1]
    
    deltanull = timedelta(seconds=0)

    if str( start ) == 'NaT': 
        start = startnext
        
    if start <= stop:
        delta = stop - start
    else:
        if startnext <= stopnext  or  str(start) == 'NaT':
            delta = deltanull
        else:
            delta = stopnext - start
            
    data.loc[i, 'Delta'] = delta   
    #print(start,'-', stop,'=', delta)

data.Delta = data.Delta.fillna(deltanull)

In [9]:
data['Month'] = data['SunriseTime'].apply(lambda ts: ts.month)

In [10]:
data

,Day,SunriseTime,MoonriseTime,SunsetTime,MoonsetTime,Start,Stop,Delta,Month
0,1/1/2013,2013-01-01 08:42:00,2013-01-01 22:32:00,2013-01-01 19:30:00,2013-01-01 11:38:00,2013-01-01 19:30:00,2013-01-01 22:32:00,03:02:00,1
1,2/1/2013,2013-01-02 08:42:00,2013-01-02 23:43:00,2013-01-02 19:31:00,2013-01-02 12:00:00,2013-01-02 19:31:00,2013-01-02 23:43:00,04:12:00,1
2,3/1/2013,2013-01-03 08:41:00,NaT,2013-01-03 19:32:00,2013-01-03 12:21:00,2013-01-03 19:32:00,2013-01-03 08:41:00,05:22:00,1
3,4/1/2013,2013-01-04 08:41:00,2013-01-04 00:54:00,2013-01-04 19:33:00,2013-01-04 12:43:00,2013-01-04 19:33:00,2013-01-04 00:54:00,06:36:00,1
4,5/1/2013,2013-01-05 08:41:00,2013-01-05 02:09:00,2013-01-05 19:35:00,2013-01-05 13:06:00,2013-01-05 19:35:00,2013-01-05 02:09:00,07:49:00,1
5,6/1/2013,2013-01-06 08:40:00,2013-01-06 03:24:00,2013-01-06 19:36:00,2013-01-06 13:32:00,2013-01-06 19:36:00,2013-01-06 03:24:00,09:07:00,1
6,7/1/2013,2013-01-07 08:40:00,2013-01-07 04:43:00,2013-01-07 19:37:00,2013-01-07 14:04:00,2013-01-07 19:37:00,2013-01-07 04:43:00,10:22:00,1
7,8/1/2013,2013-01-08 08:39:00,2013-01-08 05:59:00,2013-01-08 19:39:00,2013-01-08 14:46:00,2013-01-08 19:39:00,2013-01-08 05:59:00,11:34:00,1
8,9/1/2013,2013-01-09 08:39:00,2013-01-09 07:13:00,2013-01-09 19:40:00,2013-01-09 15:39:00,2013-01-09 19:40:00,2013-01-09 07:13:00,12:37:00,1
9,10/1/2013,2013-01-10 08:38:00,2013-01-10 08:17:00,2013-01-10 19:41:00,2013-01-10 16:42:00,2013-01-10 19:41:00,2013-01-10 08:17:00,12:57:00,1
10,11/1/2013,2013-01-11 08:38:00,2013-01-11 09:10:00,2013-01-11 19:43:00,2013-01-11 17:58:00,2013-01-11 19:43:00,2013-01-11 08:38:00,12:54:00,1
11,12/1/2013,2013-01-12 08:37:00,2013-01-12 09:54:00,2013-01-12 19:44:00,2013-01-12 19:17:00,2013-01-12 19:44:00,2013-01-12 08:37:00,12:52:00,1
12,13/1/2013,2013-01-13 08:36:00,2013-01-13 10:27:00,2013-01-13 19:46:00,2013-01-13 20:39:00,2013-01-13 20:39:00,2013-01-13 08:36:00,11:56:00,1
13,14/1/2013,2013-01-14 08:35:00,2013-01-14 10:54:00,2013-01-14 19:47:00,2013-01-14 21:58:00,2013-01-14 21:58:00,2013-01-14 08:35:00,10:36:00,1
14,15/1/2013,2013-01-15 08:34:00,2013-01-15 11:18:00,2013-01-15 19:49:00,2013-01-15 23:15:00,2013-01-15 23:15:00,2013-01-15 08:34:00,09:18:00,1
15,16/1/2013,2013-01-16 08:33:00,2013-01-16 11:40:00,2013-01-16 19:51:00,NaT,NaT,2013-01-16 08:33:00,00:00:00,1
16,17/1/2013,2013-01-17 08:33:00,2013-01-17 12:02:00,2013-01-17 19:52:00,2013-01-17 00:27:00,2013-01-17 00:27:00,2013-01-17 08:33:00,08:06:00,1
17,18/1/2013,2013-01-18 08:31:00,2013-01-18 12:25:00,2013-01-18 19:54:00,2013-01-18 01:39:00,2013-01-18 01:39:00,2013-01-18 08:31:00,06:52:00,1
18,19/1/2013,2013-01-19 08:30:00,2013-01-19 12:49:00,2013-01-19 19:56:00,2013-01-19 02:47:00,2013-01-19 02:47:00,2013-01-19 08:30:00,05:43:00,1
19,20/1/2013,2013-01-20 08:29:00,2013-01-20 13:16:00,2013-01-20 19:57:00,2013-01-20 03:53:00,2013-01-20 03:53:00,2013-01-20 08:29:00,04:36:00,1
20,21/1/2013,2013-01-21 08:28:00,2013-01-21 13:47:00,2013-01-21 19:59:00,2013-01-21 04:56:00,2013-01-21 04:56:00,2013-01-21 08:28:00,03:32:00,1
21,22/1/2013,2013-01-22 08:27:00,2013-01-22 14:26:00,2013-01-22 20:01:00,2013-01-22 05:54:00,2013-01-22 05:54:00,2013-01-22 08:27:00,02:33:00,1
22,23/1/2013,2013-01-23 08:26:00,2013-01-23 15:11:00,2013-01-23 20:03:00,2013-01-23 06:48:00,2013-01-23 06:48:00,2013-01-23 08:26:00,01:38:00,1
23,24/1/2013,2013-01-24 08:24:00,2013-01-24 16:03:00,2013-01-24 20:04:00,2013-01-24 07:35:00,2013-01-24 07:35:00,2013-01-24 08:24:00,00:49:00,1
24,25/1/2013,2013-01-25 08:23:00,2013-01-25 17:01:00,2013-01-25 20:06:00,2013-01-25 08:15:00,2013-01-25 08:15:00,2013-01-25 08:23:00,00:08:00,1
25,26/1/2013,2013-01-26 08:22:00,2013-01-26 18:06:00,2013-01-26 20:08:00,2013-01-26 08:49:00,NaT,2013-01-26 08:22:00,00:00:00,1
26,27/1/2013,2013-01-27 08:20:00,2013-01-27 19:12:00,2013-01-27 20:10:00,2013-01-27 09:19:00,NaT,2013-01-27 08:20:00,00:00:00,1
27,28/1/2013,2013-01-28 08:19:00,2013-01-28 20:22:00,2013-01-28 20:12:00,2013-01-28 09:44:00,2013-01-28 20:12:00,2013-01-28 20:22:00,00:10:00,1
28,29/1/2013,2013-01-29 08:17:00,2013-01-29 21:32:00,2013-01-29 20:13:00,2013-01-29 10:07:00,2013-01-29 20:13:00,2013-01-29 21:32:00,01:19:00,1
29,30/1/2013,2013-01-30 08:16:00,2013-01-30 22:45:00,2013-01-30 20:15:00,2013-01-30 10:29:00,2013-01-30 20:15:00,2013-01-30 22:45:00,02:30:00,1
...,...,...,...,...,...,...,...,...,...
90,1/4/2013,2013-04-01 06:06:00,2013-04-01 01:45:00,2013-04-01 22:06:00,2013-04-01 10:19:00,2013-04-01 22:06:00,2013-04-01 01:45:00,04:40:00,4
91,2/4/2013,2013-04-02 06:04:00,2013-04-02 02:46:00,2013-04-02 22:08:00,2013-04-02 11:18:00,2013-04-02 22:08:00,2013-04-02 02:46:00,05:30:00,4
92,3/4/2013,2013-04-03 06:02:00,2013-04-03 03:38:00,2013-04-03 22:09:00,2013-04-03 12:27:00,2013-04-03 22:09:00,2013-04-03 03:38:00,06:11:00,4
93,4/4/2013,2013-04-04 05:59:00,2013-04-04 04:20:00,2013-04-04 22:11:00,2013-04-04 13:39:00,2013-04-04 22:11:00,2013-04-04 04:20:00,06:44:00,4
94,5/4/2013,2013-04-05 05:57:00,2013-04-05 04:55:00,2013-04-05 22:13:00,2013-04-05 14:56:00,2013-04-05 22:13:00,2013-04-05 04:55:00,07:09:00,4
95,6/4/2013,2013-04-06 05:55:00,2013-04-06 05:22:00,2013-04-06 22:15:00,2013-04-06 16:10:00,2013-04-06 22:15:00,2013-04-06 05:22:00,07:32:00,4
96,7/4/2013,2013-04-07 05:53:00,2013-04-07 05:47:00,2013-04-07 22:16:00,2013-04-07 17:25:00,2013-04-07 22:16:00,2013-04-07 05:47:00,07:34:00,4
97,8/4/2013,2013-04-08 05:50:00,2013-04-08 06:10:00,2013-04-08 22:18:00,2013-04-08 18:38:00,2013-04-08 22:18:00,2013-04-08 05:50:00,07:30:00,4
98,9/4/2013,2013-04-09 05:48:00,2013-04-09 06:33:00,2013-04-09 22:20:00,2013-04-09 19:50:00,2013-04-09 22:20:00,2013-04-09 05:48:00,07:26:00,4
99,10/4/2013,2013-04-10 05:46:00,2013-04-10 06:56:00,2013-04-10 22:21:00,2013-04-10 21:01:00,2013-04-10 22:21:00,2013-04-10 05:46:00,07:22:00,4
100,11/4/2013,2013-04-11 05:43:00,2013-04-11 07:21:00,2013-04-11 22:23:00,2013-04-11 22:08:00,2013-04-11 22:23:00,2013-04-11 05:43:00,07:18:00,4
101,12/4/2013,2013-04-12 05:41:00,2013-04-12 07:49:00,2013-04-12 22:25:00,2013-04-12 23:14:00,2013-04-12 23:14:00,2013-04-12 05:41:00,06:25:00,4
102,13/4/2013,2013-04-13 05:39:00,2013-04-13 08:20:00,2013-04-13 22:27:00,NaT,NaT,2013-04-13 05:39:00,00:00:00,4
103,14/4/2013,2013-04-14 05:37:00,2013-04-14 08:58:00,2013-04-14 22:28:00,2013-04-14 00:14:00,2013-04-14 00:14:00,2013-04-14 05:37:00,05:23:00,4
104,15/4/2013,2013-04-15 05:35:00,2013-04-15 09:42:00,2013-04-15 22:30:00,2013-04-15 01:09:00,2013-04-15 01:09:00,2013-04-15 05:35:00,04:26:00,4
105,16/4/2013,2013-04-16 05:32:00,2013-04-16 10:32:00,2013-04-16 22:32:00,2013-04-16 01:58:00,2013-04-16 01:58:00,2013-04-16 05:32:00,03:34:00,4
106,17/4/2013,2013-04-17 05:30:00,2013-04-17 11:27:00,2013-04-17 22:34:00,2013-04-17 02:39:00,2013-04-17 02:39:00,2013-04-17 05:30:00,02:51:00,4
107,18/4/2013,2013-04-18 05:28:00,2013-04-18 12:29:00,2013-04-18 22:35:00,2013-04-18 03:14:00,2013-04-18 03:14:00,2013-04-18 05:28:00,02:14:00,4
108,19/4/2013,2013-04-19 05:26:00,2013-04-19 13:32:00,2013-04-19 22:37:00,2013-04-19 03:45:00,2013-04-19 03:45:00,2013-04-19 05:26:00,01:41:00,4
109,20/4/2013,2013-04-20 05:24:00,2013-04-20 14:39:00,2013-04-20 22:39:00,2013-04-20 04:12:00,2013-04-20 04:12:00,2013-04-20 05:24:00,01:12:00,4
110,21/4/2013,2013-04-21 05:21:00,2013-04-21 15:49:00,2013-04-21 22:40:00,2013-04-21 04:36:00,2013-04-21 04:36:00,2013-04-21 05:21:00,00:45:00,4
111,22/4/2013,2013-04-22 05:19:00,2013-04-22 17:00:00,2013-04-22 22:42:00,2013-04-22 04:59:00,2013-04-22 04:59:00,2013-04-22 05:19:00,00:20:00,4
112,23/4/2013,2013-04-23 05:17:00,2013-04-23 18:16:00,2013-04-23 22:44:00,2013-04-23 05:21:00,NaT,2013-04-23 05:17:00,00:00:00,4
113,24/4/2013,2013-04-24 05:15:00,2013-04-24 19:32:00,2013-04-24 22:46:00,2013-04-24 05:44:00,NaT,2013-04-24 05:15:00,00:00:00,4
114,25/4/2013,2013-04-25 05:13:00,2013-04-25 20:53:00,2013-04-25 22:47:00,2013-04-25 06:11:00,NaT,2013-04-25 05:13:00,00:00:00,4
115,26/4/2013,2013-04-26 05:11:00,2013-04-26 22:11:00,2013-04-26 22:49:00,2013-04-26 06:43:00,NaT,2013-04-26 05:11:00,00:00:00,4
116,27/4/2013,2013-04-27 05:09:00,2013-04-27 23:28:00,2013-04-27 22:51:00,2013-04-27 07:22:00,2013-04-27 22:51:00,2013-04-27 23:28:00,00:37:00,4
117,28/4/2013,2013-04-28 05:07:00,NaT,2013-04-28 22:53:00,2013-04-28 08:10:00,2013-04-28 22:53:00,2013-04-28 05:07:00,01:42:00,4
118,29/4/2013,2013-04-29 05:05:00,2013-04-29 00:35:00,2013-04-29 22:54:00,2013-04-29 09:08:00,2013-04-29 22:54:00,2013-04-29 00:35:00,02:39:00,4
119,30/4/2013,2013-04-30 05:03:00,2013-04-30 01:33:00,2013-04-30 22:56:00,2013-04-30 10:16:00,2013-04-30 22:56:00,2013-04-30 01:33:00,00:00:00,4

# Results

Посчитаем сумму безлунных периодов по месяцам

In [11]:
# moonlesstime sum
moonless_time = data.groupby('Month').Delta.sum()
print(moonless_time)

Month
1   7 days 14:51:00
2   6 days 10:21:00
3   5 days 20:48:00
4   4 days 12:45:00
Name: Delta, dtype: timedelta64[ns]

Посчитаем сумму безлунных периодов по месяцам, учитывая только периоды длительностью больше одного часа.

In [12]:
# moonlesstime sum for periods more than 60 min
moonless_time = data[data.Delta > timedelta(minutes=60)].groupby('Month').Delta.sum()
print(moonless_time)

Month
1   7 days 13:44:00
2   6 days 08:48:00
3   5 days 19:52:00
4   4 days 11:03:00
Name: Delta, dtype: timedelta64[ns]

Полная таблица длительностей на каждый день

In [13]:
data[:59][['Day','Start','Stop', 'Delta']]

          Day               Start                Stop    Delta
0    1/1/2013 2013-01-01 19:30:00 2013-01-01 22:32:00 03:02:00
1    2/1/2013 2013-01-02 19:31:00 2013-01-02 23:43:00 04:12:00
2    3/1/2013 2013-01-03 19:32:00 2013-01-03 08:41:00 05:22:00
3    4/1/2013 2013-01-04 19:33:00 2013-01-04 00:54:00 06:36:00
4    5/1/2013 2013-01-05 19:35:00 2013-01-05 02:09:00 07:49:00
5    6/1/2013 2013-01-06 19:36:00 2013-01-06 03:24:00 09:07:00
6    7/1/2013 2013-01-07 19:37:00 2013-01-07 04:43:00 10:22:00
7    8/1/2013 2013-01-08 19:39:00 2013-01-08 05:59:00 11:34:00
8    9/1/2013 2013-01-09 19:40:00 2013-01-09 07:13:00 12:37:00
9   10/1/2013 2013-01-10 19:41:00 2013-01-10 08:17:00 12:57:00
10  11/1/2013 2013-01-11 19:43:00 2013-01-11 08:38:00 12:54:00
11  12/1/2013 2013-01-12 19:44:00 2013-01-12 08:37:00 12:52:00
12  13/1/2013 2013-01-13 20:39:00 2013-01-13 08:36:00 11:56:00
13  14/1/2013 2013-01-14 21:58:00 2013-01-14 08:35:00 10:36:00
14  15/1/2013 2013-01-15 23:15:00 2013-01-15 08:34:00 09:18:00
15  16/1/2013                 NaT 2013-01-16 08:33:00 00:00:00
16  17/1/2013 2013-01-17 00:27:00 2013-01-17 08:33:00 08:06:00
17  18/1/2013 2013-01-18 01:39:00 2013-01-18 08:31:00 06:52:00
18  19/1/2013 2013-01-19 02:47:00 2013-01-19 08:30:00 05:43:00
19  20/1/2013 2013-01-20 03:53:00 2013-01-20 08:29:00 04:36:00
20  21/1/2013 2013-01-21 04:56:00 2013-01-21 08:28:00 03:32:00
21  22/1/2013 2013-01-22 05:54:00 2013-01-22 08:27:00 02:33:00
22  23/1/2013 2013-01-23 06:48:00 2013-01-23 08:26:00 01:38:00
23  24/1/2013 2013-01-24 07:35:00 2013-01-24 08:24:00 00:49:00
24  25/1/2013 2013-01-25 08:15:00 2013-01-25 08:23:00 00:08:00
25  26/1/2013                 NaT 2013-01-26 08:22:00 00:00:00
26  27/1/2013                 NaT 2013-01-27 08:20:00 00:00:00
27  28/1/2013 2013-01-28 20:12:00 2013-01-28 20:22:00 00:10:00
28  29/1/2013 2013-01-29 20:13:00 2013-01-29 21:32:00 01:19:00
29  30/1/2013 2013-01-30 20:15:00 2013-01-30 22:45:00 02:30:00
30  31/1/2013 2013-01-31 20:17:00 2013-01-31 23:58:00 03:41:00
31   1/2/2013 2013-02-01 20:19:00 2013-02-01 08:13:00 04:53:00
32   2/2/2013 2013-02-02 20:21:00 2013-02-02 01:12:00 06:08:00
33   3/2/2013 2013-02-03 20:23:00 2013-02-03 02:29:00 07:20:00
34   4/2/2013 2013-02-04 20:25:00 2013-02-04 03:43:00 08:32:00
35   5/2/2013 2013-02-05 20:26:00 2013-02-05 04:57:00 09:36:00
36   6/2/2013 2013-02-06 20:28:00 2013-02-06 06:02:00 10:31:00
37   7/2/2013 2013-02-07 20:30:00 2013-02-07 06:59:00 11:15:00
38   8/2/2013 2013-02-08 20:32:00 2013-02-08 07:45:00 11:27:00
39   9/2/2013 2013-02-09 20:34:00 2013-02-09 07:59:00 11:23:00
40  10/2/2013 2013-02-10 20:36:00 2013-02-10 07:57:00 11:19:00
41  11/2/2013 2013-02-11 20:48:00 2013-02-11 07:55:00 11:05:00
42  12/2/2013 2013-02-12 22:03:00 2013-02-12 07:53:00 09:48:00
43  13/2/2013 2013-02-13 23:18:00 2013-02-13 07:51:00 08:31:00
44  14/2/2013                 NaT 2013-02-14 07:49:00 00:00:00
45  15/2/2013 2013-02-15 00:27:00 2013-02-15 07:48:00 07:21:00
46  16/2/2013 2013-02-16 01:36:00 2013-02-16 07:46:00 06:10:00
47  17/2/2013 2013-02-17 02:41:00 2013-02-17 07:44:00 05:03:00
48  18/2/2013 2013-02-18 03:42:00 2013-02-18 07:41:00 03:59:00
49  19/2/2013 2013-02-19 04:39:00 2013-02-19 07:39:00 03:00:00
50  20/2/2013 2013-02-20 05:27:00 2013-02-20 07:37:00 02:10:00
51  21/2/2013 2013-02-21 06:10:00 2013-02-21 07:35:00 01:25:00
52  22/2/2013 2013-02-22 06:48:00 2013-02-22 07:33:00 00:45:00
53  23/2/2013 2013-02-23 07:19:00 2013-02-23 07:31:00 00:12:00
54  24/2/2013                 NaT 2013-02-24 07:29:00 00:00:00
55  25/2/2013                 NaT 2013-02-25 07:27:00 00:00:00
56  26/2/2013                 NaT 2013-02-26 07:25:00 00:00:00
57  27/2/2013 2013-02-27 21:08:00 2013-02-27 21:44:00 00:36:00
58  28/2/2013 2013-02-28 21:09:00 2013-02-28 23:01:00 01:52:00