#  Подготовка данных для построения графиков для статьи  по данным

In [1]:
!date
!pwd

Ср дек 13 18:46:49 MSK 2017
/home/sphere/github/Sphere/Data2013

In [2]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
#from tqdm import tqdm
#import math as mt
import numpy as np

In [4]:
!ls ./data

flight1.dbg.2013.dat  flight3.dbg.2013.dat  flight5.dbg.2013.dat
flight1.dbg.dat       flight3.dbg.dat	    flight5.dbg.dat
flight2.dbg.2013.dat  flight4.dbg.2013.dat
flight2.dbg.dat       flight4.dbg.dat

In [11]:
datum1 = pd.read_csv('./data/flight1.dbg.2013.dat', header = 0, index_col=False, sep='\t')
datum2 = pd.read_csv('./data/flight2.dbg.2013.dat', header = 0, index_col=False, sep='\t')
datum3 = pd.read_csv('./data/flight3.dbg.2013.dat', header = 0, index_col=False, sep='\t')
datum4 = pd.read_csv('./data/flight4.dbg.2013.dat', header = 0, index_col=False, sep='\t')
datum5 = pd.read_csv('./data/flight5.dbg.2013.dat', header = 0, index_col=False, sep='\t')
len(datum1)

377

In [12]:
datum1['minuts'] = 60 * (datum1.time//10000) + datum1.time//100%100 - (13*60+7)
datum2['minuts'] = 60 * (datum2.time//10000) + datum2.time//100%100 - (12*60+4)
datum3['minuts'] = 60 * (datum3.time//10000) + datum3.time//100%100 - (12*60+49)
datum4['minuts'] = 60 * (datum4.time//10000) + datum4.time//100%100 - (11*60+27)
datum5['minuts'] = 60 * (datum5.time//10000) + datum5.time//100%100 - (11*60+26)

In [13]:
datum1['run'] = 1
datum2['run'] = 2
datum3['run'] = 3
datum4['run'] = 4
datum5['run'] = 5

In [20]:
data_by_2013 = [datum1, datum2,datum3,datum4,datum5]
datum = pd.concat(data_by_2013)

In [23]:
datum.run.value_counts()

5    500
4    486
2    433
1    377
3    215
Name: run, dtype: int64

In [26]:
# посчитать высоту над поверхностью озера
H0 = datum.H.min()
datum['H-455'] = datum.H - H0

In [39]:
# удалить ненужные столбцы
del datum['NUM']
del datum['Num']

In [48]:
# место старта
datum[(datum.run == 5) & (datum.minuts > 103) & (datum.minuts < 110)]

,date,time,N,E,H,H-455,compass,P_hpa0,"T0,C",P_hpa1,...,"Tmos,C","Bot,C","Top,C",Clin1,Clin2,ClinTh,minuts,run,dN,dE
94,15,131010,5147.8088,10423.3354,448.7,1.0,324.6,963.3,24.4,961.2,...,-6.00,23.2,24.9,-1.4,1.2,1.8,104,5,-7.590,28.938
95,15,131110,5147.8156,10423.3198,448.2,0.5,309.3,963.4,24.4,961.4,...,-6.25,23.2,24.9,-0.4,1.2,1.3,105,5,0.230,0.000
96,15,131210,5147.8155,10423.3198,447.7,0.0,309.3,963.4,24.4,961.4,...,-6.50,23.2,25.0,-0.4,1.2,1.3,106,5,0.115,0.000
97,15,131310,5147.8154,10423.3198,447.8,0.1,309.3,963.3,24.4,961.2,...,-6.50,23.3,24.9,-0.4,1.2,1.3,107,5,0.000,0.000
98,15,131410,5147.8154,10423.3198,447.9,0.2,310.2,963.4,24.5,961.4,...,-6.25,23.2,25.0,-0.4,1.2,1.3,108,5,0.000,0.000
99,15,131510,5147.8153,10423.3198,448.0,0.3,282.3,963.3,24.5,961.2,...,-6.25,23.3,25.0,-0.3,1.2,1.3,109,5,-0.115,0.000

## Пересчет изменения координат в метры

In [33]:
# пересчет из координат в метры
# координаты стартовой площадки: 
# 51 47.8154 N 104 23.3198E
# 51°47'48.9"N 104°23'19.2"E
# 51.796923, 104.388663
# ''' 
# длина дуги параллели в зависимости от широты в 1°, 1' и 1" по долготе, метров
# 0	111321	1855	31
# 51	70199	1170	19
# 52	68679	1145	19
# 
# Длина дуги меридиана в зависимости от широты в 1°, 1' и 1" по широте, метров
# 0	110579	1843	31
# 50	111278	1855	31
# 55	111370	1856	31

# длина одной минуты в метрах
dN0m = 1150
dE0m = 1855

# расстояние до места старта в минутах широты или долготы
N0 = 5147.8154
E0 = 10423.3198

In [35]:
datum['dN'] = (datum['N'] - N0) * dN0m
datum['dE'] = (datum['E'] - E0) * dE0m

In [41]:
datum['compass'] *= 0.1

In [50]:
datum.head().T

                   0            1            2            3            4
date          9.0000       9.0000       9.0000       9.0000       9.0000
time     131704.0000  131804.0000  131904.0000  132004.0000  132205.0000
N          5147.8302    5147.8302    5147.8284    5147.8291    5147.8292
E         10423.3018   10423.3074   10423.3092   10423.3096   10423.3009
H           762.9000     762.5000     763.1000     762.9000     761.4000
H-455       315.2000     314.8000     315.4000     315.2000     313.7000
compass      31.8000      28.4000      33.8000      38.7000      19.2000
P_hpa0      930.2000     930.1000     930.2000     930.1000     930.4000
T0,C         18.3000      18.5000      18.7000      18.8000      19.2000
P_hpa1      929.5000     929.5000     929.5000     929.4000     929.4000
T1,C         -8.4000      -8.4000      -8.5000      -8.6000      -8.8000
dP,kpa      274.0000     274.0000     268.5200     257.5600     254.8200
U15,V        14.9600      14.9700      14.9700      14.9700      14.9700
U5,V          5.1500       5.1500       5.1500       5.1500       5.1500
Uac,V        18.7500      18.7400      18.7500      18.7500      18.7400
I,A           2.6000       2.6200       2.6000       2.6000       2.6200
Tpow,C       24.0000      24.5000      24.7500      25.0000      25.5000
Tmos,C       -8.5000      -8.5000      -8.5000      -8.2500      -8.0000
Bot,C        11.0000      11.1000      11.2000      11.4000      11.6000
Top,C        16.1000      15.2000      15.4000      15.6000      15.9000
Clin1        -2.8000      -2.8000      -2.8000      -2.8000      -2.9000
Clin2         1.0000       1.0000       1.0000       1.0000       0.9000
ClinTh        3.0000       3.0000       3.0000       2.9000       3.0000
minuts       10.0000      11.0000      12.0000      13.0000      15.0000
run           1.0000       1.0000       1.0000       1.0000       1.0000
dN           17.0200      17.0200      14.9500      15.7550      15.8700
dE          -33.3900     -23.0020     -19.6630     -18.9210     -35.0595

In [49]:
datum.to_csv('data/datum_2013.csv')